body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.logo {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .form-group {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

form .form-group label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

input[type="text"], input[type="tel"], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #a5e582;
  text-align: center;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 60px;
}

.button {
  background-color: #ff6600;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.button:hover {
  background-color: #e65c00;
}

/* Menyesuaikan tampilan form agar lebih rapi */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}
