body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef5ff;
  margin: 0;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  background-color: #ffa500;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  margin: 10px auto;
  display: block;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.show-password-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.show-password-container input {
  width: auto;
  margin-right: 10px;
}

button {
  width: 100%;
  background: yellow;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
